<form [formGroup]="myForm">

  <mat-stepper orientation="vertical" [linear]="false" #stepper>
    <mat-step label="Datos Personales">
      <input type="text" formControlName="name">
    </mat-step>
    <mat-step label="Información de Oficina">
      asd2
    </mat-step>
    <mat-step label="Observaciones">
      <input type="text" formControlName="edad">
    </mat-step>
    <mat-step label="Datos de Equipo">
      asd2
    </mat-step>
    <mat-step label="Acceso a Sistemas">
      asd2
    </mat-step>
    <mat-step label="Acceso a Internet">
      asd2
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="send()">Send</button>
      </div>
    </mat-step>
  </mat-stepper>
</form>
