<div class="h-screen w-full bg-white relative flex overflow-hidden">

  <div class="w-full h-full flex flex-col justify-between">
    <!-- Header -->
    <header class="h-16 w-full flex items-center relative px-5 space-x-10 bg-gray-800">
      <!-- Informação -->
      <div class="flex flex-shrink-0 items-center space-x-4 text-white pl-16 lg:pl-24 cursor-pointer" routerLink="/">

        <div>
          <img src="assets/images/small-logo-white.png" class="h-10" alt="">
      </div>
      <div class="text-2xl text-white tracking-wide ml-2 font-semibold">Coopac Cuajone</div>

      </div>
    </header>

    <!-- Main -->
    <main class="max-w-full h-full flex relative overflow-y-hidden">
      <!-- Container -->
      <div class="h-full w-full p-4 items-start justify-start rounded-tl grid-flow-col auto-cols-max gap-4 overflow-y-auto bg-gray-100/50 overflow-x-hidden">
        <!-- Container -->
        <div class="w-full h-full flex items-center animate__animated animate__fadeIn animate__faster" *ngIf="loadingPage else page">
          <div class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-28 w-28 m-auto"></div>
        </div>

        <ng-template #page>

          <div class="animate__animated animate__fadeIn animate__faster">

            <div class="w-5/6 md:w-4/5 xl:w-4/6 mx-auto">

              <div class="animate__animated animate__fadeIn animate__faster ">

                <div class="flex justify-between mb-2 items-center">
                  <span class="text-2xl">Solicitud para Actualización de Usuario y Acceso a Internet</span>
                  <div class="flex gap-2 items-center">
                    <span>Fecha:</span>
                    <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-40 py-2 px-4 text-gray-700 leading-tight" type="text" value="{{dateNow}}" disabled>

                  </div>
                </div>
                <hr>
                <mat-stepper orientation="vertical" [linear]="false" #stepper class="mt-2">
                  <mat-step [stepControl]="profileForm" >
                    <form [formGroup]="profileForm">
                      <ng-template matStepLabel>Datos Personales</ng-template>

                      <p class="md:w-1/2">
                        <mat-form-field appearance="fill" class="w-full mt-2">
                          <mat-label>Nombre Completo</mat-label>
                          <input matInput placeholder="Nombres y Apellidos" formControlName="name" required>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-full">
                          <mat-label>DNI</mat-label>
                          <input matInput placeholder="N° de Documento" formControlName="document" required>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-full">
                          <mat-label>Tipo de Contrato</mat-label>
                          <mat-select formControlName="typeContract" required>
                            <mat-option *ngFor="let typeContract of typeContracts" [value]="typeContract.value">
                              {{typeContract.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-full">
                          <mat-label>Cargo</mat-label>
                          <input matInput placeholder="Cargo" formControlName="job" required>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-full">
                          <mat-label>Celular</mat-label>
                          <input matInput placeholder="Número de Celular" formControlName="cellphone" required type="number">
                        </mat-form-field>

                        <mat-form-field appearance="fill"class="w-full">
                          <mat-label>Email</mat-label>
                          <input matInput placeholder="Correo Electronico Personal" formControlName="email" required type="email">
                        </mat-form-field>
                      </p>

                      <div>
                        <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step [stepControl]="officeInfoForm">
                    <form [formGroup]="officeInfoForm">
                      <ng-template matStepLabel>Información de Oficina</ng-template>

                      <p class="md:w-1/2">
                        <mat-form-field appearance="fill" class="w-full mt-2">
                          <mat-label>Ubicación</mat-label>
                          <mat-select formControlName="location" required>
                            <mat-option *ngFor="let location of locations" [value]="location.value">
                              {{location.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>


                        <mat-form-field appearance="fill" class="w-full">
                          <mat-label>Unidad/Oficina/Área</mat-label>
                          <mat-select formControlName="office" required>
                            <mat-option *ngFor="let office of offices" [value]="office.value">
                              {{office.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>


                      </p>

                      <div>
                        <button mat-button matStepperPrevious>Atras</button>
                        <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
                      </div>
                    </form>
                  </mat-step>

                  <mat-step [stepControl]="observationForm">
                    <form [formGroup]="observationForm">
                      <ng-template matStepLabel>Observaciones</ng-template>

                      <p class="md:w-1/2">
                        <mat-form-field class="w-full mt-2">
                          <mat-label>Observaciones del Solicitante</mat-label>
                          <textarea matInput maxlength="256" #messageObservation formControlName="applicantObservation"></textarea>
                          <mat-hint align="end">{{messageObservation.value.length}} / 256</mat-hint>
                        </mat-form-field>

                      </p>

                      <div>
                        <button mat-button matStepperPrevious>Atras</button>
                        <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
                      </div>
                    </form>
                  </mat-step>

                  <mat-step [stepControl]="computerInfoForm" >
                    <form [formGroup]="computerInfoForm">
                      <ng-template matStepLabel>Datos de Equipo</ng-template>

                      <p class="md:w-1/2">
                        <mat-form-field appearance="fill" class="w-full mt-2">
                          <mat-label>Nombre de Equipo</mat-label>
                          <input matInput placeholder="Nombre de la Computadora" formControlName="computerName" required>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-full">
                          <mat-label>IP</mat-label>
                          <input matInput placeholder="Dirección IP" formControlName="ip" required>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-full">
                          <mat-label>Tipo de Equipo</mat-label>
                          <mat-select formControlName="typeComputer" required>
                            <mat-option *ngFor="let typeComputer of typesComputer" [value]="typeComputer.value">
                              {{typeComputer.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </p>

                      <div>
                        <button mat-button matStepperPrevious>Atras</button>
                        <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
                      </div>
                    </form>
                  </mat-step>

                  <mat-step [stepControl]="AccessSystemForm" >
                    <form [formGroup]="AccessSystemForm">
                      <ng-template matStepLabel>Acceso a Sistemas</ng-template>

                      <div class="md:w-1/2">

                          <mat-radio-group aria-label="Selecciona una opción" class="w-full mt-2" formControlName="accessSystem">
                            <mat-radio-button value="false" color="primary">No requiero acceso a ningun sistema</mat-radio-button>
                            <br>
                            <mat-radio-button value="true" color="primary" >Si requiero acceso a los siguientes sistemas: </mat-radio-button>
                          </mat-radio-group>


                        <section class="ml-2" formGroupName="systems">
                          <mat-checkbox color="primary" formControlName="besterp">Besterp</mat-checkbox><br>
                          <mat-checkbox color="primary" formControlName="radar">Radar</mat-checkbox>
                        </section>

                        <mat-form-field class="w-full mt-2">
                          <mat-label>Justiticación de acceso a sistemas</mat-label>
                          <textarea matInput maxlength="256" #messageSystem placeholder="Ingrese su justificación de acceso para los sistemas solicitados" formControlName="accessSystemJustification"></textarea>
                          <mat-hint align="end">{{messageSystem.value.length}} / 256</mat-hint>
                        </mat-form-field>
                      </div>

                      <div>
                        <button mat-button matStepperPrevious>Atras</button>
                        <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
                      </div>
                    </form>
                  </mat-step>

                  <mat-step [stepControl]="InternetForm" >
                    <form [formGroup]="InternetForm">
                      <ng-template matStepLabel>Acceso a Internet</ng-template>

                      <p class="md:w-1/2">
                        <mat-radio-group aria-label="Selecciona una opción" class="w-full mt-2" formControlName="accessInternet">
                          <mat-radio-button value="0" color="primary">
                            <div class="flex items-center">
                              <span>Sin Accesso</span>
                              <div class="group flex relative items-center ml-2">
                                <i class="fa-solid fa-circle-question text-blue-900 text-md"></i>
                                <span class="group-hover:opacity-100 transition-opacity bg-gray-800 px-1 text-sm text-gray-100 rounded-md absolute opacity-0 mx-auto translate-x-8 z-50 w-32">Restricción total a internet</span>
                            </div>
                            </div>
                          </mat-radio-button>

                          <br>
                          <mat-radio-button value="1" color="primary">
                            <div class="flex items-center">
                              <span>Básico</span>
                              <div class="group flex relative items-center ml-2">
                                <i class="fa-solid fa-circle-question text-blue-900 text-md"></i>
                                <span class="group-hover:opacity-100 transition-opacity bg-gray-800 px-1 text-sm text-gray-100 rounded-md absolute opacity-0 mx-auto translate-x-8 z-50 w-48">Correo, Página web institucional y Google</span>
                            </div>
                            </div>
                          </mat-radio-button>
                          <br>
                          <mat-radio-button value="2" color="primary">
                            <div class="flex items-center">
                              <span>Intermedio</span>
                              <div class="group flex relative items-center ml-2">
                                <i class="fa-solid fa-circle-question text-blue-900 text-md"></i>
                                <span class="group-hover:opacity-100 transition-opacity bg-gray-800 px-1 text-sm text-gray-100 rounded-md absolute opacity-0 mx-auto translate-x-8 z-50 w-64">Navegación libre con restricciones a todas la redes sociales</span>
                            </div>
                            </div>
                          </mat-radio-button>
                          <br>
                          <mat-radio-button value="3" color="primary">
                            <div class="flex items-center">
                              <span>Total</span>
                              <div class="group flex relative items-center ml-2">
                                <i class="fa-solid fa-circle-question text-blue-900 text-md"></i>
                                <span class="group-hover:opacity-100 transition-opacity bg-gray-800 px-1 text-sm text-gray-100 rounded-md absolute opacity-0 mx-auto translate-x-8 z-50 w-72">Navegación libre con restricciones a redes sociales, excepto Whatsapp Web</span>
                            </div>
                            </div>
                          </mat-radio-button>
                          <br>
                          <mat-radio-button value="4" color="primary">
                            <div class="flex items-center">
                              <span>Libre</span>
                              <div class="group flex relative items-center ml-2">
                                <i class="fa-solid fa-circle-question text-blue-900 text-md"></i>
                                <span class="group-hover:opacity-100 transition-opacity bg-gray-800 px-1 text-sm text-gray-100 rounded-md absolute opacity-0 mx-auto translate-x-8 w-32">Navegar sin restricciones</span>
                            </div>
                            </div>
                          </mat-radio-button>
                        </mat-radio-group>

                        <mat-form-field class="w-full mt-2">
                          <mat-label>Justiticación de acceso a internet</mat-label>
                          <textarea matInput maxlength="256" #messageInternet placeholder="Ingrese su justificación de acceso a internet" formControlName="internetJustification"></textarea>
                          <mat-hint align="end">{{messageInternet.value.length}} / 256</mat-hint>
                        </mat-form-field>
                      </p>

                      <div>
                        <button mat-button matStepperPrevious>Atras</button>
                        <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
                      </div>
                    </form>
                  </mat-step>

                  <mat-step>
                    <ng-template matStepLabel>Hecho</ng-template>
                    <p>¡Bien hecho! Ya casi termina todos los pasos.</p>
                    <div class="mt-4">
                      <button mat-button matStepperPrevious>Atras</button>
                      <button mat-raised-button color="primary" (click)="showDialog=true" class="w-12" >
                        Enviar
                      </button>
                    </div>
                  </mat-step>


                </mat-stepper>
              </div>
            </div>
          </div>

        </ng-template>
      </div>
    </main>
  </div>

</div>

<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" *ngIf="showDialog">

  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

      <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-5xl">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">

            <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-indigo-100 sm:mx-0 sm:h-10 sm:w-10">
              <i class="fa-solid fa-triangle-exclamation text-xl text-indigo-700"></i>
            </div>

            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Tratamiento de Datos Personales</h3>
              <div class="mt-2 pr-12">
                <p class="text-sm text-gray-500 text-justify">De conformidad con la Ley N° 29733, Ley de Protección de Datos Personales y su norma reglamentaria
                  D.S. y N° 003-2013-JUS en los términos vigentes de ambas, desde el momento que Ud. haya declarado la aceptación expresa del
                  tratamiento de sus datos personales mediante la realización de cliqueo dispuesto para la autorización mencionada, Ud. autoriza
                  a Cooperativa de Ahorro y Crédito Cuajone – Coopac Cuajone, ubicada en calle Piura Nro. 299 – Moquegua, Mariscal Nieto, Moquegua,
                  que todos los datos personales suyos facilitados o que se faciliten a través de su ingreso al portal o por cualquier medio sean
                  recolectados y tratados por Cooperativa de Ahorro y Crédito Cuajone – Coopac Cuajone. Adicionalmente, se entenderá que el usuario
                  y/o visitante del portal consiente el tratamiento de sus datos personales si mediante su conducta se evidencia que ha consentido
                  inequívocamente el tratamiento de sus datos brindados en el Portal, conforme a lo permitido en el artículo 12° numeral 3 del
                  Reglamento de la Ley de Protección de datos personales. El usuario y/o visitante del portal consiente expresamente que
                  Cooperativa de Ahorro y Crédito Cuajone – Coopac Cuajone, pueda ceder los datos personales a terceros tales como Google en los
                  términos y condiciones anteriormente indicados. El Usuario presta su consentimiento para que se puedan transferir sus datos en
                  los términos y condiciones anteriormente indicados, a otras entidades con destino a un país extranjero. Los datos personales
                  serán incorporados a un servicio administrado para almacenar datos no estructurados propiedad de Google. Sus datos serán
                  utilizados para los permisos de acceso a los sistemas internos e internet de Cooperativa de Ahorro y Crédito Cuajone –
                  Coopac Cuajone. Los datos se mantendrán en la base de datos mientras se consideren útiles con el fin de poder tener un registro
                  y poder comunicarse con el usuario según fuese necesario. El Usuario autoriza a Cooperativa de Ahorro y Crédito Cuajone –
                  Coopac Cuajone a conservar sus datos una vez finalizada la relación contractual, para el cumplimiento de las obligaciones
                  legales pertinentes. En cuanto entre en vigencia las disposiciones pertinentes de la Ley N° 29733, al Usuario le asiste de
                  ejercer los derechos de acceso, rectificación, oposición y cancelación de los datos personales, los cuales podrá ejercer
                  mediante la opción de contacto que ponemos a su disposición. El usuario responde de la veracidad de los datos facilitados por el,
                  reservándose Cooperativa de Ahorro y Crédito Cuajone – Coopac Cuajone el derecho a excluirlo, imponer las sanciones o realizar
                  las denuncias respectivas, en caso de constatar la falsedad o inexactitud de los mismos. Cooperativa de Ahorro y Crédito Cuajone
                  – Coopac Cuajone ha adoptado los niveles de seguridad de protección de los Datos Personales legalmente requeridos. No obstante,
                  el Usuario debe ser consciente de que dichas medidas en Internet no son inexpugnables.</p>
              </div>

              <div class="flex items-center">
                <mat-checkbox class="example-margin" color="primary" [(ngModel)]="checked"></mat-checkbox>
                <span class="text-gray-700">Acepto el tratamiento de mis datos personales</span>
              </div>
            </div>


          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button type="button" class="inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-medium text-white shadow-sm sm:ml-3 sm:w-auto w-32" [ngClass]="{'bg-indigo-600 hover:bg-indigo-500': checked, 'bg-gray-300 hover:bg-gray-300/80': (!checked || loadingButton)}" (click)="sendInfo()" [disabled]="!checked || loadingButton">

            <div
            *ngIf="loadingButton else page"
            class="inline-block h-4 w-4 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] text-gray-500 motion-reduce:animate-[spin_1.5s_linear_infinite]"
            role="status">
            <span
              class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
              >Cargando...</span
            >
            </div>
            <ng-template #page>
              <div class="flex items-center">
                <span>Continuar</span>
                <i class="fa-solid fa-arrow-right ml-4"></i>
              </div>
            </ng-template>
          </button>
          <button class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-medium text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto" (click)="showDialog=false" [disabled]="loadingButton">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>















