<div class="w-full h-full flex items-center animate__animated animate__fadeIn animate__faster" *ngIf="loading else page">
  <div class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-28 w-28 m-auto"></div>
</div>

<ng-template #page>

  <div class="mt-10 sm:mt-0 animate__animated animate__fadeIn animate__faster">
    <div class="mb-4">
      <p class="text-xl font-medium">Agregar usuario</p>
      <hr>
    </div>
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-lg font-medium leading-6 text-gray-900">Informacion personal</h3>
          <p class="mt-1 text-sm text-gray-400">Ingrese la Información del usuario</p>
        </div>
      </div>
      <div class="mt-5 md:col-span-2 md:mt-0">
        <form [formGroup]="myForm" autocomplete="off">
          <div class="overflow-hidden shadow-md sm:rounded-md">
            <div class="bg-white px-4 py-5 sm:p-6">
              <div class="grid grid-cols-6 gap-4">

                <div class="col-span-6">
                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>DNI</mat-label>
                    <input matInput placeholder="Número de documento" formControlName="document" required>
                  </mat-form-field>

                </div>

                <div class="col-span-6 sm:col-span-3">

                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre del usuario" formControlName="firstName" required>
                  </mat-form-field>

                </div>

                <div class="col-span-6 sm:col-span-3">

                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Apellidos</mat-label>
                    <input matInput placeholder="Apellidos del usuario" formControlName="lastName" required>
                  </mat-form-field>

                </div>

                <div class="col-span-6 sm:col-span-3">

                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Cargo</mat-label>
                    <input matInput placeholder="Cargo que ocupa" formControlName="job" required>
                  </mat-form-field>

                </div>

                <div class="col-span-6 sm:col-span-3">

                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="Usuario" formControlName="username" required>
                  </mat-form-field>

                </div>

                <div class="col-span-6" *ngIf="!user.uid">

                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="Clave secreta" formControlName="password" required type="password">
                  </mat-form-field>

                </div>


              </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
              <button class="h-10 w-20 inline-flex justify-center rounded-md border border-transparent py-2 px-4 text-sm font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
              (click)="SaveUser()"
              [disabled]="loadingButton" [ngClass]="{'bg-gray-300/80' : loadingButton, 'bg-indigo-600 hover:bg-indigo-700' : !loadingButton}">
                <div
                *ngIf="loadingButton else page"
                class="inline-block h-4 w-4 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] text-gray-500 motion-reduce:animate-[spin_1.5s_linear_infinite]"
                role="status">
                <span
                  class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
                  >Cargando...</span
                >
              </div>
              <ng-template #page>
                Guardar
              </ng-template>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


</ng-template>
